@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800&display=swap');

/*---------------------- LANDING PAGE ---------------------*/
.landing-page {
    background: url(/assets/images/plane-sky.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.landing-paragraph {
    margin: 5px;
    padding: 10px;
    color: white;
    position: relative;
    left: 20%;
    top: 18%
}

.landing-button {
    width: 85%;
    background-color: #ffffff36;
    color: #fff;
    margin-top: 2rem;
    height: 45px;
}

.landing-search {
    width: 85%;
    display: inline-block;
    margin-top: 2rem;
    height: 40px;
}

.form-group {
    width: 100%;
}

.landing-icon {
    background-color: #ffffff00;
    border: none;
}

/*---------------------- BRIEFING PAGE ---------------------*/
.brief-title {
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin-top: 12px;
    text-align: center;
}

.brief-search {
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin-top: 15px;
    color: #19308C;
}

.brief-howto {
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    font-size: 17px;
    font-weight: 300;
    color: #69ACE0;

}

.brief-link {
    text-decoration: none;
    color: #00A3FF;
}

.brief-header {

    border: 1px solid black;
    border-radius: 5px;
    padding: 0.8rem;
    width: 95%;

    margin: 20px;

}

.brief-row {
    font-family: 'Lato', sans-serif;
    justify-content: center;
}

.brief-container {
    margin: 20px;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
}


.metar-container {
    padding: 5px;
}

.metar-title {
    font-weight: 500;
}

.metar-content {
    font-weight: 300;
    width: auto;
}

.taf-title {
    font-weight: 500;
    color: #FEA801;
    font-size: 17px;
}

.taf-content {
    font-weight: 300;
    width: auto;
}

.email-row {
    justify-content: center;
}

.email-button {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #00A3FF;
    color: #00A3FF;
    background-color: #00a2ff3f;
    width: 100%;
}

/*------------------ MAP------------------*/
#map {
    height: 300px;
    width: 90%;
}

.location-row {
    justify-content: center;

}

/*------------------ MEDIA BREAKPOINTS------------------*/
@media screen and (max-width: 992px) {
    .brief-container {
        width: 90%;
    }

    .brief-header {
        width: 90%;
    }
}