@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800&display=swap');

/*---------------------- LANDING PAGE ---------------------*/
.landing-page {
    background: url(/assets/images/plane-sky.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.landing-paragraph {
    margin: 5px;
    padding: 10px;
    color: white;
    position: relative;
    left: 20%;
    top: 18%
}

.landing-button {
    width: 85%;
    background-color: #ffffff36;
    color: #fff;
    margin-top: 2rem;
    height: 45px;
}

.landing-search {
    width: 85%;
    display: inline-block;
    margin-top: 2rem;
    height: 40px;
}

.form-group {
    width: 100%;
}

.landing-icon {
    background-color: #ffffff00;
    border: none;
}

/*---------------------- BRIEFING PAGE ---------------------*/
.brief-title {
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin-top: 12px;
    text-align: center;
}

.brief-search {
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin-top: 15px;
    color: #19308C;
}

.brief-howto {
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    font-size: 17px;
    font-weight: 400;
    color: #69ACE0;

}

.margin-headers {
    margin-top: 12px;
    margin-bottom: 9px;
}

.fa-sun {
    color: rgb(240, 144, 0);
}

.fa-moon {
    color: rgb(0, 0, 102);
}

.form-text {
    font-weight: 300;
}

.brief-link {
    text-decoration: none;
    color: #00A3FF;
}

.brief-header {

    border: 1.5px solid #adb5bd;
    border-radius: 5px;
    padding: 0.8rem;
    width: 95%;

    margin: 20px;

}

.modal-footer {
    display: block;
}

.brief-row {
    font-family: 'Lato', sans-serif;
    justify-content: center;
}

.brief-container {
    margin: 20px;
    width: 30%;
    border: 1.5px solid #adb5bd;
    border-radius: 5px;
}


.metar-container {
    padding: 5px;
}

.metar-title {
    font-weight: 500;
}

.metar-content {
    font-weight: 300;
    width: auto;
}

.taf-title {
    font-weight: 500;
    color: #FEA801;
    font-size: 17px;
}

.taf-content {
    font-weight: 300;
    width: auto;
}

.email-row {
    justify-content: center;
}

.email-button {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #00A3FF;
    color: #00A3FF;
    background-color: #00a2ff3f;
    width: 100%;
}

.print-design {
    font-family: 'Lato';
    font-weight: 300;
}


/*------------------ FLIGHT CATEGORY ------------------*/
.vfr_label {
    background-color: palegreen;
    font-weight: 500;
    width: 75%;
    font-size: large;
}

.ifr_label {
    background-color: red;
    font-weight: 500;
    width: 75%;
    font-size: large;
}

.lifr_label {
    background-color: rgb(255, 182, 243);
    font-weight: 500;
    width: 75%;
    font-size: large;
}

.mvfr_label {
    background-color: rgb(2, 5, 199);
    font-weight: 500;
    width: 75%;
    font-size: large;
}

.unk_label {
    background-color: rgb(0, 0, 2);
    font-weight: 500;
    width: 75%;
    font-size: large;
}

.taf-active {
    background-color: rgb(70, 74, 90);
    font-weight: 500;
    width: 75%;
    font-size: large;
}

.taf-inactive {
    background-color: rgba(219, 219, 219, 0.801);
    color: red;
    width: 75%;
    font-size: large;
    font-weight: 500;
}

/*------------------ MAP------------------*/
#map {
    height: 300px;
    width: 90%;
}

.location-row {
    justify-content: center;

}

/*------------------ MEDIA BREAKPOINTS------------------*/
@media screen and (max-width: 1200px) {
    .brief-container {
        margin: 15px;
    }
}

@media screen and (max-width: 992px) {
    .brief-container {
        width: 90%;
    }

    .brief-header {
        width: 90%;
    }


}

@media screen and (max-width: 767px) {
    .brief-search {
        padding-left: 5%;
        padding-right: 5%;
    }

    .brief-howto {
        padding-top: 20px;
    }

}

@media screen and (max-width: 576px) {
    .brief-header {
        font-size: smaller;
    }

    .vfr_label {
        width: 100%;
    }

    .ifr_label {
        width: 100%;
    }

    .lifr_label {
        width: 100%;
    }

    .mvfr_label {
        width: 100%;

    }

    .unk_label {
        width: 100%;

    }

    .taf-active {
        width: 100%;
    }

    .taf-inactive {
        width: 100%;
    }
}