@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800&display=swap');

/*---------------------- LANDING PAGE ---------------------*/
.landing-page {
    background: url(/assets/images/plane-sky.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.landing-paragraph {
    margin: 5px;
    padding: 10px;
    color: white;
    position: relative;
    left: 20%;
    top: 18%
}

.landing-button {
    width: 85%;
    background-color: #ffffff36;
    color: #fff;
    margin-top: 2rem;
    height: 45px;
}

.landing-search {
    width: 85%;
    display: inline-block;
    margin-top: 2rem;
    height: 40px;
}

.form-group {
    width: 100%;
}

.landing-icon {
    background-color: #ffffff00;
    border: none;
}

/*---------------------- BRIEFING PAGE ---------------------*/
.brief-title {
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

.brief-search {
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin-top: 15px;
}

.brief-howto {
    font-family: 'Lato', sans-serif;
    text-align: end;
    align-items: center;
    padding-right: 7%;
    padding-top: 1%;
    margin-top: 15px;
    text-transform: uppercase;
}